<!-- ADDED START -->
AMANO
<table *ngIf="amanoList">
    <tr *ngFor="let i of rowIndexArray">
        <td style="width: 350px; height: 350px">
            <div class="imagebox">
                <img [src]="amanoList[3*i].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{amanoList[3*i].caption}}</span>
            </div>
        </td>
        <td style="width: 350px; height: 350px" *ngIf="amanoList[3*i+1]">
            <div class="imagebox">
                <img [src]="amanoList[3*i+1].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{amanoList[3*i+1].caption}}</span>
            </div>
        </td>
        <td style="width: 350px; height: 350px" *ngIf="amanoList[3*i+2]">
            <div class="imagebox">
                <img [src]="amanoList[3*i+2].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{amanoList[3*i+2].caption}}</span>
            </div>
        </td>
    </tr>
</table>

HARDYS AND SONS
<table *ngIf="hardyList">
    <tr *ngFor="let j of rowIndexArray">
        <td style="width: 350px; height: 350px">
            <div class="imagebox">
                <img [src]="hardyList[3*j].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{hardyList[3*j].caption}}</span>
            </div>
        </td>
        <td style="width: 350px; height: 350px" *ngIf="hardyList[3*i+1]">
            <div class="imagebox">
                <img [src]="hardyList[3*j+1].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{hardyList[3*j+1].caption}}</span>
            </div>
        </td>
        <td style="width: 350px; height: 350px" *ngIf="hardyList[3*i+2]">
            <div class="imagebox">
                <img [src]="hardyList[3*j+2].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{hardyList[3*j+2].caption}}</span>
            </div>
        </td>
    </tr>
</table>

YELLOW TAIL
<table *ngIf="yellowList">
    <tr *ngFor="let k of rowIndexArray">
        <td style="width: 350px; height: 350px">
            <div class="imagebox">
                <img [src]="yellowList[3*k].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{yellowList[3*k].caption}}</span>
            </div>
        </td>
        <td style="width: 350px; height: 350px" *ngIf="yellowList[3*i+1]">
            <div class="imagebox">
                <img [src]="yellowList[3*k+1].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{yellowList[3*k+1].caption}}</span>
            </div>
        </td>
        <td style="width: 350px; height: 350px" *ngIf="yellowList[3*i+2]">
            <div class="imagebox">
                <img [src]="yellowList[3*k+2].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{yellowList[3*k+2].caption}}</span>
            </div>
        </td>
    </tr>
</table>

BAREFOOT
<table *ngIf="barefootList">
    <tr *ngFor="let l of rowIndexArray">
        <td style="width: 350px; height: 350px">
            <div class="imagebox">
                <img [src]="barefootList[3*l].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{barefootList[3*l].caption}}</span>
            </div>
        </td>
        <td style="width: 350px; height: 350px" *ngIf="barefootList[3*i+1]">
            <div class="imagebox">
                <img [src]="barefootList[3*l+1].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{barefootList[3*l+1].caption}}</span>
            </div>
        </td>
        <td style="width: 350px; height: 350px" *ngIf="barefootList[3*i+2]">
            <div class="imagebox">
                <img [src]="barefootList[3*l+2].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{barefootList[3*l+2].caption}}</span>
            </div>
        </td>
    </tr>
</table>

CONCHA TORO
<table *ngIf="conchaList">
    <tr *ngFor="let m of rowIndexArray">
        <td style="width: 350px; height: 350px">
            <div class="imagebox">
                <img [src]="conchaList[3*m].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{conchaList[3*m].caption}}</span>
            </div>
        </td>
        <td style="width: 350px; height: 350px" *ngIf="conchaList[3*i+1]">
            <div class="imagebox">
                <img [src]="conchaList[3*m+1].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{conchaList[3*m+1].caption}}</span>
            </div>
        </td>
        <td style="width: 350px; height: 350px" *ngIf="conchaList[3*i+2]">
            <div class="imagebox">
                <img [src]="conchaList[3*m+2].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{conchaList[3*m+2].caption}}</span>
            </div>
        </td>
    </tr>
</table>


GALLO
<table *ngIf="galloList">
    <tr *ngFor="let n of rowHardyArray">
        <td style="width: 350px; height: 350px">
            <div class="imagebox">
                <img [src]="galloList[3*n].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{galloList[3*n].caption}}</span>
            </div>
        </td>
        <td style="width: 350px; height: 350px" *ngIf="galloList[3*i+1]">
            <div class="imagebox">
                <img [src]="galloList[3*n+1].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{galloList[3*n+1].caption}}</span>
            </div>
        </td>
        <td style="width: 350px; height: 350px" *ngIf="galloList[3*i+2]">
            <div class="imagebox">
                <img [src]="galloList[3*n+2].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{galloList[3*n+2].caption}}</span>
            </div>
        </td>
    </tr>
</table>

OTHERS
<table *ngIf="othersList">
    <tr *ngFor="let o of rowHardyArray">
        <td style="width: 350px; height: 350px">
            <div class="imagebox">
                <img [src]="othersList[3*o].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{othersList[3*o].caption}}</span>
            </div>
        </td>
        <td style="width: 350px; height: 350px" *ngIf="othersList[3*i+1]">
            <div class="imagebox">
                <img [src]="othersList[3*o+1].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{othersList[3*o+1].caption}}</span>
            </div>
        </td>
        <td style="width: 350px; height: 350px" *ngIf="othersList[3*i+2]">
            <div class="imagebox">
                <img [src]="othersList[3*i+2].imageUrl" class="img-fluid" style="width: 350px; height: 350px">
                <span class="imagebox-desc">{{othersList[3*o+2].caption}}</span>
            </div>
        </td>
    </tr>
</table>

<!-- ADDED END -->